package secrets

import "encoding/hex"

const (
	SQLHost     = ""
	SQLPort     = ""
	SQLUser     = ""
	SQLPassword = ""
	SQLSocket   = ""
	SQLDBName   = ""

	RedisHost     =
	RedisPassword = ""
	RedisPort     = ""
	RedisSocket   = ""

	GoogleClientId     = ""
	GoogleClientSecret = ""

	DiscordClientId     = ""
	DiscordClientSecret = ""

	MicrosoftClientId     = ""
	MicrosoftClientSecret = ""
	MicrosoftTenantId     = ""
	MicrosoftMailId       = ""
)

var AESGCMKey, _ = hex.DecodeString("")
