package secrets

import "encoding/hex"

const (
	SQLSocket   = "/run/pgbouncer"
	SQLHost     = "100.100.100.100"
	SQLPort     = "6432"
	SQLUser     = ""
	SQLPassword = ""
	SQLDBName   = ""

	RedisSocket   = "/run/redis/redis.sock"
	RedisHost     = SQLHost
	RedisPort     = "6379"
	RedisPassword = ""

	GoogleClientId     = ""
	GoogleClientSecret = ""

	DiscordClientId     = ""
	DiscordClientSecret = ""

	MicrosoftClientId     = ""
	MicrosoftClientSecret = ""
	MicrosoftTenantId     = ""
	MicrosoftMailId       = "connect@bhariya.onmicrosoft.com"
)

var AESGCMKey, _ = hex.DecodeString("")
